html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;

  font-family: 'Open Sans', sans-serif;
}

img {
  align-items: center;
  border-radius: 50%;
}

.name {
  font-size: 400%
}

#profile-picture {
  margin: 2rem;
}
#profile-picture p {
  line-height: 1.8;
}
#profile-picture .curve {
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

.about {
  font-size: 20%
}
